@inherits LayoutComponentBase
@inject NavigationManager Nav

@code {
    private bool IsLoginPage => Nav.Uri.EndsWith("/");
}

<div class="layout">
    @if (!IsLoginPage)
    {
        <div class="sidebar">
            <div class="nav-button" @onclick='() => Nav.NavigateTo("/dashboard")'>Dashboard</div>
            <div class="nav-button" @onclick='() => Nav.NavigateTo("/studyvocab")'>Study Vocab</div>
            <div class="nav-button" @onclick='() => Nav.NavigateTo("/unlocked")'>Unlocked Words</div>
            <div class="nav-button" @onclick='() => Nav.NavigateTo("/")'>Log Out</div>
        </div>
    }

    <main class="main-content">
        @Body
    </main>
</div>
