
.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.sidebar {
    width: 220px;
    background-color: #2a2a2a;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.sidebar-bottom {
    width: 100%;
}


.nav-button {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
    box-sizing: border-box;
}

    .nav-button:hover {
        background-color: #3a3a3a;
        cursor: pointer;
        color: #ffffff;
    }

    .nav-button.active {
        background-color: #4CAF50;
        color: #ffffff;
    }

.main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.submenu-panel {
    position: fixed;
    top: 6%;
    left: -250px;
    border-radius: 15px;
    width: 250px;
    height: 90%;
    background-color: #2a2a2a;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: left 0.3s ease;
    z-index: 999;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    .submenu-panel.open {
        left: 220px;
    }

.level{
    width: fit-content;
    border-radius: 15px;
    padding: 15px;
}

    .level:hover {
        cursor: pointer;
        background-color: #3a3a3a;
    }