@inherits LayoutComponentBase

<div class="layout" @onclick="HideKanjiMenu">
    @if (!IsLoginPage)
    {
        <div class="sidebar" @onclick:stopPropagation>
            <div class="sidebar-top">
                <div class="nav-button" @onclick='() => Navigate("/dashboard", false)'>Dashboard</div>
                <div class="nav-button" @onclick="ToggleKanjiMenu">Levels</div>
                <div class="nav-button" @onclick='() => Navigate("/listeningcomp", false)'>Listening Comprehension</div>
            </div>
            <div class="sidebar-bottom">
                <div class="nav-button" @onclick='() => Navigate("/", false)'>Log Out</div>
            </div>
        </div>
        <div class="submenu-panel @(ShowKanjiMenu ? "open" : "")" @onclick:stopPropagation>
            @foreach (var kanji in GroupedKanji.OrderBy(x => x.Key))
            {
                <div class="level" @onclick="() => GoToLevelDetail(kanji)">
                    <span class="level-text">@kanji.Key</span>
                </div>
            }
        </div>
    }

    <main class="main-content">
        @Body
    </main>

    <GlobalToast />
</div>


