body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.stat-row, .action-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.label {
    font-weight: bold;
    color: #bbbbbb;
}

.value {
    color: #ffffff;
}

.major-stats{
    display: flex;
    gap: 15px;
}

.word-mastery{
    display: flex;
    align-items: center;
    gap: 15px;
}

.mastery-tier{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin: 0
}

th, td {
    border-right: 1px gray solid;
}

    th:last-child, td:last-child {
        border-right: none;
    }

tbody tr:hover {
    background-color: #2a2a2a;
}

#core-study{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px
}

#core-text{
    font-style: italic;
    font-size: 14px;
}