@page "/"

<div>
    @*@if (ActivePage == Pages.Login)
    {
        <Login OnSetUser="SetUser" OnLogin="ChangePage" />
    }*@
    @if (ActivePage == Pages.Dashboard)
    {
        <Dashboard User="ActiveUser" OnChangePage="ChangePage" />
    }
    else if (ActivePage == Pages.StudyVocab)
    {
        <StudyVocab User="ActiveUser" OnChangePage="ChangePage" />
    }
    else if (ActivePage == Pages.UnlockedWords)
    {
        <UnlockedWords User="ActiveUser" />
    }
</div>
