
.page{
    display: flex;
    gap: 15px;
}

.page-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-items {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px 125px
}

.headline {
    height: 45px;
    font-size: 24px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}

.item-card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 125px;
    height: 125px;
    text-align: center;
    border: solid 1px white;
}

.item-character{
    font-size: 56px;
}

.item-name{
    font-size: 16px;
}

.kanji {
    background-color: #A888B5;
}

    .kanji:hover {
        background-color: #c5a1d0;
    }

.radical {
    background-color: #e89ab2;
}

    .radical:hover {
        background-color: #eebecd;
    }

.table-container{
    max-height: 750px;
    overflow-y: scroll;
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px;
}

.vocab-items {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px 165px;
}

.vocab-card {
    background-color: #8174A0;
    padding: 10px;
    border: solid 1px white;
    border-bottom: none;
    text-align: center;
}

    .vocab-card:hover{
        cursor: pointer;
        background-color: mediumpurple;
    }

.vocab-character{
    font-size: 24px;
}

#vocab-table{
    margin-top: 0;
}

#vocab-table-word{
    min-width: 125px;
}