
/*.kanji-item{
    border: solid 1px gray;
    border-radius: 10px;
    padding: 5px;
}*/

.level-text{
    font-size: 24px;
}

.subtext{
    font-style: italic;
}

table {
    width: 80%;
    overflow-y: scroll;
    height: 600px;
}

tbody td {
    padding: 0.75rem;
    border-bottom: 1px solid #444;
    color: #ddd;
    vertical-align: middle;
}

tbody tr:nth-child(even) {
    background-color: #252525;
}

tbody tr:hover {
    background-color: #333;
}