
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    background-color: #2a2a2a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.test-options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1rem 0;
}

.test-options-label {
    display: flex;
    flex-direction: column;
}

.italics {
    font-style: italic;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #2a2a2a;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
}

    form span {
        color: #e0e0e0;
        font-size: 1.1rem;
    }

.sentence-container{
    display: flex;
    flex-direction: column;
}

.sentence{
    font-size: 22px;
}

.speaker{
    padding: 15px;
    border-radius: 15px;
}

    .speaker:hover {
        cursor: pointer;
        background-color: #404040;
    }

textarea {
    padding: 0.6rem 1rem;
    width: 350px;
    background-color: #1e1e1e;
    border-radius: 6px;
    outline: none;
    border: 1px solid #555;
    color: #fff;
}

    textarea:focus {
        border-color: #888;
    }

.speed-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}