
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #2a2a2a;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
}

    form span {
        color: #e0e0e0;
        font-size: 1.1rem;
    }

h3 {
    color: #ffffff;
    text-align: center;
}

.label {
    font-weight: bold;
    color: #bbbbbb;
}

.complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.answer-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}