
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #2a2a2a;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
}

    form span {
        color: #e0e0e0;
        font-size: 1.1rem;
    }

h3 {
    color: #ffffff;
    text-align: center;
}

.label {
    font-weight: bold;
    color: #bbbbbb;
}

.complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.answer-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.speak-word{
    cursor: pointer;
    padding: 0 2rem;
    border-radius: 15px;
}

    .speak-word:hover {
        background-color: #404040;
    }

.custom-toggle-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.input-correct {
    border: 2px solid #4CAF50;
    background-color: #223322;
    color: #d0ffd0;
}

.input-incorrect {
    border: 2px solid #e74c3c;
    background-color: #331e1e;
    color: #ffd0d0;
}

input[type="text"] {
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    background-color: #2a2a2a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.test-options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1rem 0;
}

.test-options-label{
    display: flex;
    flex-direction: column;
}

.italics{
    font-style: italic;
    font-size: 15px;
}

.definition-input {
    width: 100%;
    padding: 4px 6px;
    font-size: 0.95rem;
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 4px;
}

.jisho-logo{
    width: 40px;
}

.reading-definition{
    display: flex;
    gap: 30px;
}

.example-sentence-english{
    font-style: italic;
    font-size: 16px;
}

.radical {
    background-color: #eba5bb;
    border-radius: 10px;
    padding: 8px;
}

.kanji {
    background-color: #A888B5;
    border-radius: 10px;
    padding: 8px;
}

.item-level{
    font-size: 22px;
}